* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 630px;
    box-shadow: 0px 2px 13px;
    position: fixed;
    z-index: 5;
    background: white;


    .left {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            height: 80px;
        }
    }

    .center {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;

            list-style: none;


            li {
                margin: 10px;
                color: black;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    font-family: sans-serif;

                    &:hover {
                        color: cyan;
                    }
                }
            }
        }


    }

    .right {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;


        button {
            width: 150px;
            height: 45px;
            background: white;
            border: 2px solid rgb(23, 230, 133);
            border-radius: 25px;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 17px;

            a{
                color: black;
                text-decoration: none;
            }

            &:hover {
                background: rgb(0, 0, 0);
                color: white;
                font-family: sans-serif;
                font-size: 17px;
                border: none;

                a{
                    color: white;
                }
            }

          
        }
    }
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(15, 7, 58);
    position: relative;

    .left_side {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        #text {
            font-size: 90px;
            color: black;
            font-family: sans-serif;
            color: cyan;
        }
    }

    .right_side {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .put {
            width: 350px;
            height: 500px;
            background: white;
            position: absolute;
            top: 150px;
            border-radius: 5px;
            padding: 10px;

            label {
                font-size: 18px;
                font-family: sans-serif;
            }

            input {
                width: 300px;
                height: 40px;
                outline: none;
                border: none;
                background: rgb(231, 231, 231);
                top: 10px;
                margin-top: 10px;
                padding: 20px;
                font-size: 15px;
                font-family: sans-serif;
                border-radius: 5px;

                &:last-child {
                    width: 120px;
                    height: 50px;
                    background-color: red;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-top: 10px;
                    cursor: pointer;
                }
            }


        }
    }

    a{
        font-size: 20px;
        width: 70px;
        height: 70px;
        color: black;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
         border-radius: 50%;
         margin-top: 100px;
    }
}


.main{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    a{

        width: 50px;
        height: 55px;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 50%;
        transform: rotateX(150deg);
    }

    .box{
        width: 400px;
        height: 500px;
        box-shadow: 6px 19px 27px;
        margin: 30px;
        border-radius: 5px;
        background: rgb(220, 219, 219);
         

        img{
           width: 400px;
           height: 300px;
           object-fit: cover;
           border-top-left-radius: 5px;
           border-top-right-radius:5px ;
        }

        p{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 5px;
        }

        button{
            width: 150px;
            height: 45px;
            border-radius: 25px;
            border: 2px solid red;
            background: transparent;
            font-family: sans-serif;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
}